* {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #c2c2d6;
}

.App * {
  border: 0;
}

:root {
  --button-height: 65px;
  --button-width: 80px;
  --color-numbers: #4d4d4d;
  --color-ac: rgb(172, 57, 57);
  --color-functions: rgb(102, 102, 102);
  --color-equals: rgb(0, 68, 102);
  --color-display: black;
}
/* @media (prefers-reduced-motion: no-preference) {
} */

.calculator-container {
  background-color: var(--color-display);
  width: calc(var(--button-width * 4));
  height: calc(var(--button-height * 5));
  border: 5px solid black;
}

.calculator-display {
  height: calc(var(--button-height) * 0.7);
  background-color: var(--color-display);
  color: white;
  padding: 0px 0px 5px 0px;
  text-align: end;
}

.calculator-display-algo {
  /* background-color: gray; */
  height: 40%;
  color: orange;
  font-size: 15px;
}

.calculator-display-inputresult {
  display: flex;
  /* background-color: green; */
  justify-content: flex-end;
  align-items: end;
  font-size: 25px;
  height: 60%;
}

.calculator-buttons * {
  color: white;
  font-size: 15px;
}

.calculator-buttons-top-section * {  
  height: var(--button-height);
}

.calculator-button-ac {
  width: calc(var(--button-width) * 2);
  height: var(--button-height);
  background-color: var(--color-ac);
  border-style: solid;
  border-color: var(--color-display);
  border-width: 0 0 1px 1px;
}

.calculator-buttons-bottom-section {
  display: flex;
}

.calculator-button-number {
  height: var(--button-height);
  width: var(--button-width);
  background-color: var(--color-numbers);
  border-style: solid;
  border-color: var(--color-display);
  border-width: 0 0 1px 1px;
}

.calculator-button-number-zero {
  height: calc(var(--button-height));
  width: calc(var(--button-width) * 2);  
  background-color: var(--color-numbers);
  border-style: solid;
  border-color: var(--color-display);
  border-width: 0 0 1px 1px;
}

.calculator-buttons-functions {
  display: flex;
  flex-direction: column;
}

.calculator-button-equals {
  height: calc(var(--button-height) * 2);
  width: var(--button-width);
  background-color: var(--color-equals);
  border-style: solid;
  border-color: var(--color-display);
  border-width: 0 0 1px 1px;
}

.calculator-button-function{
  height: var(--button-height);
  width: var(--button-width);
  background-color: var(--color-functions);
  border-style: solid;
  border-color: var(--color-display);
  border-width: 0 0 1px 1px;
}

.signature {
  width: 140px;
  margin-top: 10px;
  font-size: 10px;
}

button:hover {
  color: var(--color-display);
  border-color: rgb(150, 150, 150);
  border-width: 1px;
  transform: scale(1.01);
}